{
	"useTabs": true,
	"printWidth": 150,
	"tabWidth": 4,
	"singleQuote": true,
	"trailingComma": "none",
	"jsxBracketSameLine": false,
	"parser": "babel",
	"noSemi": true,
	"rcVerbose": true
}