%btn-auth {
	@include padding(0.5rem 2rem);
	background-color: $bg-content;
	border-radius: 1rem;
	text-decoration: none;
	font-weight: 500;
	transition: opacity 0.3s ease-in-out;
	color: $colorFontNormal;

	&:hover {
		opacity: 0.7;
	}
}

.auth {
	& form {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	& h4 {
		color: lighten($font-color, 25%);
		@include padding(1rem);
	}

	& button {
		@extend %btn-auth;
		@include padding(0.2rem 1rem);
		color: lighten($font-color, 30%);
	}

	& .error {
		color: $color-red;
		@include padding(0.4rem null);
	}
}

.auth-item {
	justify-content: space-around;

	& a {
		@extend %btn-auth;

		&:first-child {
			margin-right: 2em;
		}
	}
}

.signin-form {
	& label {
		color: lighten($font-color, 25%);
	}
	& .form-control {
		border-radius: 1rem;
		margin-bottom: 0.5rem;

		&.invalid {
			border: 2px solid $color-red;
		}
	}
}
