//********************body*********************/

body {
	-moz-osx-font-smoothing: grayscale !important;
	-webkit-font-smoothing: subpixel-antialiased !important;
	background-color: $bg-sidebar;
	color: $font-color;
	font-family: $fontm;
	// overflow-x: hidden;
}

//********************body end*********************/
