.daily-list {
	display: flex;
	// align-items: flex-start;
	flex-direction: column;
	// justify-content: flex-start;

	& .item {
		display: flex;
		flex: 1 1 auto;
		flex-direction: row;
		width: 100%;
		cursor: pointer;

		// display: flex;
		// align-items: center;
		// @include padding(0.5rem);

		// &.bigitem {
		// 	flex: 0 0 30%;
		// }
		// &.miditem {
		// 	flex: 2;
		// }
		// &.smallitem {
		// 	flex: 1;
		// 	justify-content: center;

		// 	&:first-child {
		// 		justify-content: flex-start;
		// 	}
		// }

		&-row {
			// display: flex;
			// flex: 1 1 auto;
			// flex-direction: row;
			// width: 100%;

			display: flex;
			align-items: center;
			@include padding(0.5rem);

			&.bigitem {
				flex: 0 0 30%;
			}
			&.miditem {
				flex: 2;
			}
			&.smallitem {
				flex: 1;
				justify-content: center;

				&:first-child {
					justify-content: flex-start;
				}
			}
		}

		& .icon {
			font-size: 2rem;
		}
	}

	& .direction,
	& .speed {
		flex: 1;
		justify-content: flex-start;
		padding: 0;

		img {
			max-height: 1.2em;
		}
	}

	.raindrop {
		max-height: 2em;
		margin-right: 1rem;
	}

	& .progress {
		flex: 1;
		height: 0.35rem;
		background-color: rgba($color-font-sidebar, 0.15);

		& .red {
			background-color: $color-red !important;
		}
	}
}

$forecast-color: rgb(247, 247, 247) !default;

.forecast-daily {
	display: flex;
	flex-wrap: wrap;
	@include padding(1rem 0.5rem 2rem);

	&__item {
		display: inline-flex;
		align-items: center;
		justify-content: flex-start;
		flex-grow: 1;
		flex-shrink: 0;
		flex-basis: calc(25% - 10px);
		width: auto;
		max-width: 100%;
		overflow: hidden;
		background-color: $bg-sidebar;
		@include padding(0.5rem 1rem);
		border-radius: 5px;
		margin-right: 0.5rem;
		margin-bottom: 0.5rem;

		@include mediaa(maxslg) {
			flex-basis: calc(33.333333333333333% - 10px);
		}

		@include mediaa(maxlg) {
			flex-basis: calc(50% - 10px);
		}

		@include mediaa(maxxsm) {
			flex-basis: calc(100% - 10px);
		}
	}

	& .text--truncate {
		display: flex;
		flex-direction: column;

		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;

		& span {
			color: $color-font-sidebar;
		}
	}

	& .icon {
		display: inline-block;
		width: 1.5em;
		height: 1.5em;
		fill: $color-font-sidebar;
		stroke: none;
		vertical-align: middle;
		margin-right: 1rem;
		color: $color-font-sidebar;
	}

	& .dot {
		display: inline-block;
		width: 0.5em;
		height: 0.5em;
		border-radius: 50%;
		vertical-align: middle;
		margin-left: 0.5rem;
	}
}
