.bg-content {
	background-color: $bg-content;
	position: relative;
}

.bg-sidebar {
	background: $bg-sidebar;

	@include mediaa(minmd) {
		flex: 0 1 380px;
		position: sticky;
		z-index: 1000;
		height: 100vh;
	}
}

.welcome {
	color: lighten($font-color, 25%);
}
