.bg-content {
	background-color: $bg-content;
	position: relative;

	& .footer {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;

		& .refresh {
			color: $font-color;
		}

		& .refresh,
		& .btn-refresh__content {
			display: flex;
			align-items: center;
		}
	}
}

.bg-sidebar {
	background: $bg-sidebar;

	@include mediaa(minmd) {
		flex: 0 1 380px;
		position: sticky;
		z-index: 1000;
		height: 100vh;
	}
}

.welcome {
	color: lighten($font-color, 25%);
}
